{% extends "base.html" %}
{% load static %}
{% block contenido %}
<script>
  function submitForm() {
      Swal.fire("Contraseña cambiada", "Use su nueva contraseña", "success");
      document.getElementById("form").submit();
  }
</script>
<section class="vh-90">
  <h2 class="alert alert-info mx-2 mt-2">Cambiar contraseña de {{user.username|title}}</h2>
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <form method="POST" style="border-radius:1%;">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="text-danger">
                  {% for error in field.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" onclick="submitForm()">Cambiar contraseña</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}
