{% extends 'base.html' %} 
{% load static %}
{% block contenido %}
<body>   
  <img src="{% static '/img/logo.jpg'%}" class="d-block mx-auto py-1" alt="logo">
    {% if user.is_authenticated %}
    <div class="row text-center">
      <div class="col-sm-3 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Crear lista</h4>
            <p class="card-text">Cree su propia lista.</p>
            <a href="{% url 'crear_lista' %}" class="btn btn-success">Crear</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Mis listas</h4>
            <p class="card-text">Vea sus listas</p>
            <a href="{% url 'listas' %}" class="btn btn-info">Ver</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Eliminar lista</h4>
            <p class="card-text">Elimina definitivamente una lista</p>
            <a href="{% url 'borrar_lista'%}" class="btn btn-danger">Borrar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-1">
        <div class="card border-secondary">
            <div class="card-body">
              <h4 class="card-title">Mandar lista por mail</h4>
              <p class="card-text">Enviar y adjuntar en PDF</p>
              <a href="{% url 'enviar_lista' %}" class="btn btn-warning">Enviar</a>
            </div>
          </div>
        </div>
      <div class="col-sm-3 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Cambiar nombre</h4>
            <p class="card-text">Cambie el nombre de sus listas</p>
            <a href="{% url 'lista_nombre'%}" class="btn btn-primary">Cambiar nombre</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Cambiar contraseña</h4>
            <p class="card-text">¿Quiere cambiar su contraseña?</p>
            <a class="btn btn-secondary" href="{% url 'password_change' %}">Cambiar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Listas predefinidas</h4>
            <p class="card-text">Importe nuestras listas</p>
            <a href="{% url 'listas_predefinidas' %}" class="btn btn-success">Importar
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Sugerencias</h4>
            <p class="card-text">Envíe sus opiniones</p>
            <a class="btn btn-dark" href="{% url 'sugerencias' %}">Escribir</a>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="row text-center">
      <div class="col-sm-4 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Registrarse</h4>
            <p class="card-text">Cree su usuario para manejar sus listas.</p>
            <a href="/registro" class="btn btn-primary">Registrarse</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 py-1">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Iniciar sesión</h4>
            <p class="card-text">Inicie sesión para usar sus listas.</p>
            <a href="/iniciar_sesion" class="btn btn-primary">Iniciar sesión</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 py-1 ">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Sugerencias</h4>
            <p class="card-text">Envíe sus opiniones o sugerencias</p>
            <a class="btn btn-dark" href="{% url 'sugerencias' %}">Escribir</a>
          </div>
        </div>
      </div>
    </div>
  </body>
    {% endif %}   
{% endblock %}