{% extends 'base.html' %} 
{% block contenido %}
  <div class="text-center mt-2">
    <h1 class="alert alert-info mt-2">Listas de {{ user.username|title }} </h1>
  </div>  
  {% for lista in listas %}
  {% if forloop.first%}
  <div class="row">{% endif %}
    <div class="col-6 py-2 text-center">
      <div class="container card border-success col-md-11">
        <div class="text-white bg-dark my-2 mx-2 text-center my-2">
          <h2>{{ lista}}</h2>
        </div>
        <form action='{% url 'importar_lista_predefinida' nombre_archivo=lista %}' method="POST">
          {% csrf_token %}
          {{form}}
          <button class="btn btn-info my-2">
            Importar lista
          </button>
        </form>
      </div>
    </div>

    {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row">{% endif %}
  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
  {% endblock %}
