{% extends 'base.html' %} 
{% block contenido %}
  <div class="text-center mt-2">
    <h1 class="alert alert-info mx-3 text-center">Listas de {{ user.username|title }} </h1>
  </div>
  {% for lista in listas %}
  {% if forloop.first%}
  <div class="row">{% endif %}
    <div class="col-6 py-2 text-center">
    <div class="container card border-success col-md-11 py-2">
      <div class="text-white bg-dark my-2 mx-2 text-center">
        <h2>{{ lista.nombre_lista }}
        </h2>
      </div>
      {% for item in lista.item_set.all %}
      <div class="card bg-light text-center my-2 mx-2 py-1" style="display: inline">
              {% if item.completado == True %}
              <del><p style="display: inline" class="text-decoration-none text-secondary h5 btn-light text-center"> {{ item.descripcion_item }} </p></del><p style="display: inline"> ✔</p>
              {% else %}
              <span><p class="text-decoration-none text-dark h5 btn-light text-dark text-center">{{ item.descripcion_item }}</p></span>
              {% endif %}
      </div>
      {% endfor %}

      <form action='{% url 'eliminar_lista' lista_id=lista.id %}' method="POST" onsubmit="confirmDelete(event)">
        {% csrf_token %}
        {{form}}
        <button class="btn btn-danger">
          Eliminar lista
        </button>
      </form>
      </div>
    </div>
  <br>
  {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row">{% endif %}
  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
  <script>
    function confirmDelete(e) {
      e.preventDefault();
      Swal.fire({
        title: '¿Estás seguro de que quieres eliminar esta lista?',
        text: 'Una vez eliminada, no podrás recuperarla',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sí, eliminar',
        cancelButtonText: 'Cancelar',
      }).then((result) => {
        if (result.value) {
          // Si el usuario confirma la eliminación, envía el formulario
          e.target.submit();
        }
      });
    }
  </script>
  {% endblock %}