{% extends "base.html" %}

{% block contenido %}
<style>
  .password-hide {
  visibility: hidden;
  .d-inline-block {
    width: calc(100% - 2rem);
    margin-right: 1rem;
}
}
</style>
<section class="vh-90">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
                      <form method="POST" style="border-radius:1%;">
                        {% csrf_token %}
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h1 fw-bold mb-0">Mis listas</span>
                        </div>
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingresa en tu cuenta</h5>
      
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example3">Nombre de usuario</label>
                          <br>
                          {{ form.username }}
                        </div>

                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example4">Contraseña</label>
                          <i class="fa fa-eye-slash d-inline-block text-right" aria-hidden="true" id="toggleBtn" style="color: #ff6219"></i><br>
                          <input type="password" id="passwordInput" class="password-input form-control d-inline-block" name="password" value="{{ form.password.value }}">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                        <b>{{error}}</b>    
                        <br>
                        <div class="fw-normal mb-3 pb-3">
                        <button type="submit" class="btn btn-dark py-2 px-4" style="padding-left: 20rem;">Login</button>
                        </div>
                        <a href="{% url 'password_reset' %}"class="link-danger">¿Olvidaste tu contraseña?</a></p>
                        <div class="fw-normal mb-3 pb-3">
                        <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta? 
                            <a href="{% url 'registro' %}"class="link-danger">Registrate</a></p>
                        </div>
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  var passwordInput = document.getElementById("passwordInput");
  var toggleBtn = document.getElementById("toggleBtn");

  toggleBtn.addEventListener("click", function() {
    if (passwordInput.getAttribute("type") === "password") {
      passwordInput.setAttribute("type", "text");
    } else {
      passwordInput.setAttribute("type", "password");
    }
  });
</script>
{% endblock %}