{% extends 'base.html' %}
{% block contenido %}
<style>
  li {
    color: white;
  }
  label, input, button {
    margin-left: 0.5em;
    font-size: 2em;

  }

</style>
<h2 class="alert alert-info mx-2 mt-2">El nombre de la lista es {{lista.nombre_lista}}</h2>

<form method="POST">
  {% csrf_token %}
  <form class="form-group h2" action='{% url 'lista_cambiar_nombre' lista_id=lista.id %}' method="POST">
    {% csrf_token %}
    {{form.as_p}}
  <button class="btn btn-warning mx-2">
    Cambiar nombre
  </button>
</form>
{% endblock %}